* {
  box-sizing: border-box;
}

:root {
  --light-beige: #c1a481;
  --light-brown: #a7805a;
  --dark-brown: #81634a;
  --darker-brown: #503d2f;
  --light-green: #aea781;
  --dark-green: #555842;
  --darker-green: #41442d;
}

body {
  height: 100vh;
  background-color: var(--light-beige);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--darker-brown);
  margin: 0;
}

.main-container {
  padding-block-end: 4rem;
}

.main-header {
  font-size: 4rem;
  margin-block: 1.5rem .75rem;
  color: var(--darker-green)
}

.sub-header {
  margin-block: 0;
  color: var(--dark-brown);
  margin-block-end: 2.5rem;
  ;
}

.book-filter fieldset {
  width: 60%;
  margin: auto;
  margin-block-end: 2rem;
  min-width: 500px;
}

input[name="book-filter"] {
  padding: .25rem;
  border-radius: .5rem;
  border: 1px solid var(--dark-brown);
  line-height: 1rem;
  font-size: 1rem;
  width: 50%;
  max-width: 350px;
  min-width: 200px;
  background-color: var(--light-brown);
  color: white;
  outline: none;
}

input[name="book-filter"]::placeholder {
  color: white;
}

.book-filter .btn-clear {
  background-color: var(--light-brown);
  color: white;
  border: 1px solid var(--dark-brown);
  line-height: 1rem;
  transition: .1s;
}

.book-filter .btn-clear:hover {
  background-color: var(--dark-brown);
  color: white;
}

.book-table {
  border-collapse: collapse;
  margin: 1rem auto;
}

.book-table thead th:first-child {
  width: 50%;
  min-width: 250px;
}

.book-table thead th:last-child {
  min-width: 250px;
}


.book-table th,
.book-table td {
  border: 1px solid var(--darker-brown);
  padding: .35rem .75rem;
  text-align: start;
}

.btn {
  border-radius: .5rem;
  padding: .25rem;
  width: 4.5rem;
  text-align: center;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: white;
  transition: .2s;
}

.btn:hover {
  background-color: rgb(123, 110, 86);
}

.btn-read {
  background-color: var(--light-brown);
}

.btn-update {
  background-color: var(--dark-brown);
}

.btn-delete {
  background: var(--darker-brown);
}

th {
  background-color: var(--dark-green);
  color: var(--light-beige)
}

tr:nth-child(even) {
  background-color: var(--light-green);
}

.btn-add-book,
.btn-page {
  background-color: var(--dark-green);
  padding: .5rem;
  color: #fff;
}

.btn-add-book {
  width: 6.5rem;
}

.btn-page {
  width: 5rem;
}

.current-page {
  display: inline-block;
  margin-inline: .5rem;
  color: var(--darker-brown);
  font-weight: bold;
}

.modal {
  place-items: center;
  background-color: #d9b98a;
  color: white;
  width: min(75%, 600px);
  height: 30%;
  min-width: 560px;
  min-height: 270px;
  padding: 10px;
  border-radius: .5rem;
  overflow: visible;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr repeat(3, 1fr);
  grid-template-areas:
    "img title"
    "img  price"
    "img  rating"
    "img id";
  gap: 10px;
  width: 100%;
  height: 100%;
}

.modal h1,
.modal h2,
.modal h3 {
  margin: 0;
  place-self: center;
}

.modal .img-container {
  grid-area: img;
}

.modal-img {
  max-height: 100%;
  border-radius: .5rem;
}

.modal-title {
  grid-area: title;
  place-self: start center;
  margin: 0;
}

.modal-price {
  grid-area: price;
  place-self: start start;
}

.modal-rating {
  grid-area: rating;
}

.modal-id {
  grid-area: id;
}

.book-edit-modal {
  background-color: #d9b98a;
  color: white;
  width: min(75%, 600px);
  height: 30%;
  min-width: 400px;
  min-height: 300px;
  padding: 10px;
  border-radius: .5rem;
}

.book-edit-modal h2 {
  font-size: 2rem;
  margin-block: 0 1rem;
}

.book-edit-modal .form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.form-container input,
.form-container select {
  line-height: 1.5;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 50%;
  height: 100%;
  align-self: center;
}

.modal-close {
  position: absolute;
  right: -9px;
  top: -9px;
  font-size: 1rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  border: 1px solid #555;
}

.modal-alert {
  border-radius: 1rem;
  width: min(35%, 350px);
  border: 2px solid #fff;
  padding: .5rem;
  color: #333;

}

.modal-success {
  color: var(--dark-green);
}

.modal-alert h1 {
  font-size: 1rem;
}

.modal-error {
  color: var(--dark-brown);
}

footer {
  display: flex;
  align-items: center;

  position: fixed;
  bottom: 0;

  width: 100%;
  height: 2rem;
  background-color: var(--darker-brown);
  color: var(--light-beige);
}

.stats-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: auto;
}

footer h3 {
  display: inline-block;
  margin-block: 0;
  margin-inline-end: 3rem;
}

footer h3:last-child {
  margin-inline-end: 0;
}

.no-books-found {
  text-align: center;
  color: var(--dark-green);
  font-size: 1.5rem;
  padding: 1rem;
}

.font-weight-normal {
  font-weight: normal;
}